#accessoriesItem {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 1rem;
}

#accessoriesSubItem {
  color: black;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0.3rem 0.3rem 0.3rem gray;
}
#accessoriesSubItem h6 {
  padding: 0 0.5rem;
}
#accessoriesSubItem:hover {
  border: 1px solid gold;
}
#accessoriesSubItem img {
  width: 100%;
  margin-bottom: auto;
  height: 45vh;
}
/* Media Queries */

@media only screen and (max-width: 480px) {
  #accessoriesItem {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh;
    grid-auto-rows: 50vh;
  }
  #accessoriesSubItem img {
    width: 100%;
    height: 60%;
  }
}
