@media only screen and (max-width: 480px) {
  #sidebar {
    width: 70vw;
    right: -70vw;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  #sidebar {
    width: 30vw;
    right: -50vw;
  }
}
